{% extends 'base.html' %}

{% block title %}{{ object.title }} | Create jobs{% endblock title %}

{% block content %}
    <div class="container list">
        <div class="job">
            <p class="require_note"><span class="require">＊</span> 必須</p>
            <table>
                <tr>
                    <th>ID<span class="require">＊</span></th>
                    <td>{{ object.id }}</td>
                </tr>
                <tr>
                    <th>求人<span class="require">＊</span></th>
                    <td>{{ object.title }}</td>
                </tr>
                <tr>
                    <th>公開日<span class="require">＊</span></th>
                    <td>{{ object.publish }}</td>
                </tr>
                <tr>
                    <th>公開終了日<span class="require">＊</span></th>
                    <td>{{ object.validthrough }}</td>
                </tr>
                <tr>
                    <th>会社名<span class="require">＊</span></th>
                    <td>{{ object.company }}</td>
                </tr>
                <tr>
                    <th>国名<span class="require">＊</span></th>
                    <td>{{ object.country }}</td>
                </tr>
            </table>
            <div class="nav invert">
                {% if user.is_authenticated %}
                    <a href="{% url 'list' %}" class="btn">
                        <span class="material-symbols-outlined chevron_left">chevron_left</span>
                        <span class="in_text">一覧ページ</span>
                    </a>
                {% else %}
                    <a href="javascript:history.back();" class="btn">
                        <span class="material-symbols-outlined chevron_left">chevron_left</span>
                        <span class="in_text">一覧ページ</span>
                    </a>
                {% endif %}
                {% if user.is_authenticated %}
                    <a class="btn btn_edit" href="{% url 'update' object.pk %}">
                        <span class="material-symbols-outlined edit_note">edit_note</span>
                        <span class="in_text">編集</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}

{% block js_foot %}
    <script>
        $(function () {
            $('.job_keywords').html(function () {
                return $(this).html().trim().split(",").filter(function (x) {
                    return x.match(/\S/);
                }).map(function (x) {
                    return "<span class='word'>" + x + "</span>";
                }).join("");
            });

        });
    </script>
{% endblock js_foot %}