{% extends 'base.html' %}

{% block title %}ジョブリスト | Create jobs{% endblock title %}

{% block content %}
    <div class="container list">
        <div class="ttl_page">
            <h1 class="in_text">Jobtype List</h1>
        </div>
        {% if user.is_authenticated %}
            {% for object in object_list %}
                <div class="job">
                    <table>
                        <tr>
                            <th>ID</th>
                            <td>{{ object.pk }}</td>
                        </tr>
                        <tr>
                            <th>雇用形態</th>
                            <td>{{ object.jobtypename }}</td>
                        </tr>
                    </table>
                </div>
            {% endfor %}

        {% else %}
            <div class="nav">
                <a href="{% url 'login' %}" class="btn">
                    <span class="material-symbols-outlined key">key</span>
                    <span class="in_text">ログイン</span>
                </a>
            </div>

        {% endif %}


    </div>
{% endblock content %}
