@charset "utf-8";
//icon
.material-symbols-outlined {
    &.explore {
        font-size: 40px;

        @media (max-width: $viewport) {
            font-size: 8.5vw;
        }
    }

    &.key {
        font-size: 40px;

        @media (max-width: $viewport) {
            font-size: 8vw;
        }
    }

    &.import {
        font-size: 40px;

        @media (max-width: $viewport) {
            font-size: 8vw;
        }
    }

    &.logout {
        font-size: 14px;

        @media (max-width: $viewport) {
            font-size: 4vw;
        }
    }

    &.chevron_right {
        font-size: 18px;

        @media (max-width: $viewport) {
            font-size: 4vw;
        }
    }
}